@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap')

/** Colores **/
$shadow-green: #9bc1bc
$riptide: #79e5cb
$matise: #2374ab


body
    font-family: 'Karla', sans-serif
    height: 100vh
    background-color: #f2f2f2
    
.container
    margin: 40px auto 40px

[class*='col']
    margin-bottom: 20px
    display: flex
    align-content: stretch

.ecard
    background-color: #fff
    width: 100%

@import head
@import like-switch
@import body